<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body class="template">
    
    <header>
        <p>Header </p>
    </header>
<div class="template_body">
    <section class="content">
        <p>content</p>
    </section>
    <div class="side_bar1">
        <p>SideBar 1</p>
    </div>
    <div class="side_bar2">
        <p>SideBar 2</p>
    </div>
</div>

<footer>
    <p>Footer</p>
</footer>
</body>
</html>