*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #25b79f;
    height: 100vh;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar
{
    position: fixed;
    width: 100%;
    z-index: 500;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu-items{
    display: flex;
}

.menu-items li{
    list-style: none;
    padding: lrem;
}

.menu-items a{
    text-decoration: none;
    color: #f0f0e6;
    font-size: 1.2em;
    padding: 0.3rem;
}

.menu-items a:hover{
    border-bottom: 2px solid #f0f0e6;
}

.navbar .logo{
    order: 1;
    color: #f0f0e6;
    font-size: 2rem
}
